* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.default-btn {
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #fff;
}

.section-heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222;
}

.section-label {
  display: block;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 400;
  padding: 8px 12px;
  line-height: 1;
  background-color: #000;
  text-transform: uppercase;
  border: 0;
  color: #fff;
}

/* HEADER */

.header__rel {
  position: relative;
}

.header_nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  min-height: 50px;
  background-color: #212121;
  z-index: 99999;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  margin: 0;
  list-style-type: none;
}

.header_list-item:not(:last-child) {
  padding-right: 28px;
  border-right: 2px dotted black;
}

.header_list-link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo-link {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_logo-text {
  display: block;
  font-size: 13px;
  font-weight: 100;
  margin-top: 6px;
  color: #fff;
  opacity: 0.5;
}

.subheader_callback-text {
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
  color: #fff;
}

.subheader_callback-phone {
  font-size: 22px;
  font-weight: 400;
  display: block;
  margin-top: 2px;
  text-align: right;
  color: #fff;
}

.subheader_btn {
  font-size: 14px;
  font-weight: 400;
  padding: 15px 15.98px;
  margin-top: 19px;
}

/* SECTION-PROMO */

.section-promo {
  min-height: 800px;
  background: url("/src/img/uber_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.section-promo_header {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.section-promo_subheader {
  margin: 0;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.section-promo_description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.section-promo_description:first-of-type {
  margin-top: 20px;
}

.section-promo_description:not(:first-of-type) {
  margin-top: 35px;
}

.section-promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 35px;
}

.section-reasons_label {
  margin-top: 18px;
}

.section-reasons_heading {
  margin-top: 32px;
}

.section-reasons_container {
  margin-top: 20px;
}

.section-reasons_column:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  margin-top: 25px;
}

.section-reasons_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 116px;
  margin-left: 25px;
  margin-right: 25px;
  height: 116px;
  background-color: #1eacc7;
  border-radius: 50%;
}

.section-reasons_round-img {
  max-width: 100%;
}

.section-reasons_subtitle {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
}

.section-reasons_text {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  color: #202020;
}
